/* stylelint-disable */
@use "sass:map";
@use "../config";
@use "../variables" as vars;

$_breakpoints: map-get(vars.$tokens, 'breakpoint');

// Visibility Utility

@mixin visibilitySharedStyles {
  &visible {
    visibility: visible !important;
  }
  &hidden {
    visibility: hidden !important;
  }
  &none {
    display: none !important;
  }
}


@each $_breakpoint, $_breakpoint-val in $_breakpoints {
  @if $_breakpoint == 'root' {
    .#{config.$utility-ns} {
      @include visibilitySharedStyles;
    }
  } @else {
    @media only screen and (min-width: map.get($_breakpoint-val, 'breakpoint')) {
      .#{$_breakpoint}\:#{config.$utility-ns} {
          @include visibilitySharedStyles;
      }
    }
  }
}
