@use "sass:map";
@use "../../variables" as vars;

$_typography: map-get(vars.$tokens, 'typography');

@function font-size($size) {

  // By Default, assume the font-size doesn't exist
  $value: false;

  @if map.has-key($_typography, $size) {
    $value: map.get($_typography, $size);
  }

  @else {
    @error "No font size could be retrieved for #{$size}";
  }

  @return $value;
}
